<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css}"/>
    <title>Todo application</title>
</head>
<body>
<div class="container">
    <h1 class="text-center display-5 py-1">
        <i class="bi bi-calendar-week-fill"></i>
        Todo List
    </h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Complete</th>
                <th scope="col">Created Date</th>
                <th scope="col">Last modified</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="item: ${todoItems}" th:class="${item.isComplete} ? 'table-success' : 'table-warning'">
                <th scope="row" th:text="${item.id}"></th>
                <td th:text="${item.description}"></td>
                <td>
                    <span th:if="${item.isComplete} == true" th:text="Yes"  ></span>
                    <span th:unless="${item.isComplete} == true" th:text="No"></span>
                </td>
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.updatedAt}"></td>
                <td th:text="${item.dueDate}"></td>
                <td>
                    <div class="btn btn-group-sm" role="group">
                        <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}"><i class="bi bi-pencil-fill"></i>Edit</a>
                        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}"><i
                                class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="btn btn-success" href="/create-todo">
        <i class="bi bi-plus-square-fill"></i> Create a Todo</a>
    </p>
    <p class="text-center lead text-muted py-3" th:text="|Happy ${today}|">Today</p>
</div>
<script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>