<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css}"/>
    <title>Todo application | Add new item</title>
</head>
<body>
<div class="container">
    <div class="row py-5">
        <div class="col-2">
            <p><a class="btn btn-outline-success" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Add a new Todo Item</h2>
            <form action="#" th:action="@{/todo}" th:object="${todoItem}" method="POST">
                <div class="form-group pt-3">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description"
                           placeholder="Description" required>
                </div>
                <div class="form-group pt-3">
                    <label for="date-input">Due Date:</label>
                    <input type="date" id="date-input" required>
                    <label for="time-input">Due Time:</label>
                    <input type="time" id="time-input" required>
                    <input type="hidden" id="combined-input" th:field="*{dueDate}">
                    <script>
                        window.onload = function () {
                            let dateInput = document.getElementById("date-input");
                            let timeInput = document.getElementById("time-input");
                            let combinedInput = document.getElementById("combined-input");

                            dateInput.addEventListener("change", updateCombinedInput);
                            timeInput.addEventListener("change", updateCombinedInput);

                            function updateCombinedInput() {
                                let date = dateInput.value;
                                let time = timeInput.value;
                                if (date !== "" && time !== "") {
                                    let timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
                                    let dateTime = new Date(date + 'T' + time);
                                    let dateFormat = new Intl.DateTimeFormat('en-US', {
                                        hour: 'numeric',
                                        minute: 'numeric',
                                        month: 'long',
                                        day: 'numeric',
                                        year: 'numeric',
                                        timeZone: timeZone
                                    });
                                    let dateValue = dateFormat.format(dateTime);
                                    combinedInput.value = dateValue;
                                }
                            }
                        }
                    </script>
                </div>
                <button type="submit" class="btn btn-success mt-3">
                    <i class="bi bi-plus-square-fill"></i> Add Todo
                </button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>